/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.index-icon ul {
		float: none;
	}

	.banner-left-text {
		width: 100%;
	}

	.banner-left {
		margin-bottom: 20px;
		padding: 20px;
	}

	.shipping-box {
		padding: 25px;
	}

	.shipping-boxs {
		margin-top: 25px;
		margin-bottom: 0;
	}

	.shipping-boxs:hover {
		margin: 0;
		margin-top: 25px;
	}

	.product-one {
		margin-bottom: 25px;
		margin-top: 25px;
	}

	.product-four {
		margin-bottom: 25px;
	}

	.features-box-timer h6 {
		font-size: 16px;
	}

	.features-box-timer p {
		font-size: 8px;
	}

	.features-down-text p {
    	font-size: 10px;
    	margin-top: 6px;
    	margin-bottom: 3px;
	}

	.features-down-text h6 {
		font-size: 14px;
    	margin-bottom: -10px;
	}

	.products-deal img {
    	height: 200px;
	}

	.deal-timer {
		margin-top: 0;
		height: 200px;
		width: 210px;
		padding: 20px 0;
		border: 1px solid red;
	}

	.shop-btn {
		padding: 5px 15px;
	}

	.products-deal {
		padding: 30px 10px;
	}

	.deal-time {
		padding-bottom: 15px;
	}

	.features-heading p {
		font-size: 12px;
	}

	.news-description {
		padding-top: 10px;
		padding-bottom: 0;
	}

	.instragram-banner :nth-child(n+1):nth-child(-n+3){
		margin-bottom: 20px;
	}

	.products-helpline .pl-left {
		padding-left: 50px;
	}

	.copyright p {
		font-size: 10px;
	}

	.news-boxs {
		margin-bottom: 20px;
	}

	.deal-left img {
		padding-left: 0;
	}

	.deal-right img {
		padding-right: 0;
	}

	.deal-timer button {
		font-size: 8px;
	}

	.deal-timer h4 {
    	font-size: 18px;
    	padding-top: 10px;
	}

	.deal-timer ul li {
		height: 40px;
		width: 40px;
		margin: 3px;
	}

	.deal-timer ul li h2 {
		font-size: 13px;
	}

	.deal-timer ul li p {
		font-size: 8px;
	}

	.deal-timer .shop-btn {
		margin-top: 0;
	}
}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px)
	


/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) 



/*// Extra large devices (large desktops, 1200px)*/
@media (min-width: 1200px) and (max-width: 1399.98px)


/*//Extra Extra large deivces (Extra large desktops, 1400px and up)*/
@media (min-width: 1400px)