a {
	text-decoration: none;
}

.header-search-text {
	font-size: 14px;
	/* color: #999999; */
	font-family: 'Poppins',sans-serif;
	font-weight: 400;
}

.cart-text {
	font-size: 12px;
	color: #707070;
}

.cart-number {
	color: #ff424f;
}

.slider-heading {
	font-size: 55px;
	font-family: 'Alata',sans-serif;
	font-weight: 600;
	margin-bottom: 35px;
}

.slider-text {
	font-size: 15px;
	font-family: 'alata',sans-serif;
	font-weight: 400;
	margin-bottom: 70px;
}

.text-sub-heading {
	font-size: 25px;
	margin-bottom: 35px;
	font-family: alata,sans-serif;
	font-weight: 600;
}

.shop-btn {
	color: black;
    font-size: 14px;
	font-family: 'Poppins',sans-serif;
	font-weight: 500;
    border: 2px solid red;
    border-radius: 30px;
    padding: 16px 32px;
    background: transparent;
}

.shop-btn:hover {
	background: red;
	color: white;
}

.shop-btn:hover i {
	color: white;
}

.button-arrow {
	font-size: 14px;
	color: black;
	padding-left: 10px;
}

.content-heading h2 {
	font-size: 20px;
	font-family: 'Poppins',sans-serif;
	font-weight: 600;
	/* margin-bottom: 20px; */
	color: black;
}

.footer-menu h2 {
	margin-bottom: 30px;
}

.title {
	font-size: 35px;
	margin-bottom: 22px;
	font-family: poppins,sans-serif;
	font-weight: 600;
}

.sub-title {
	font-size: 15px;
	font-family: 'Poppins',sans-serif;
	font-weight: 400;
	margin-bottom: 50px;
}

.badge {
	font-size: 14px;
    background: red;
    border-radius: 50%;
    height: 46px;
    width: 46px;
    line-height: 46px;
    float: left;
    color: white;
    padding: 0;
	font-weight: 600;
	font-family: 'alata',sans-serif;
}

.slider-badge {
    background: red;
    border: none;
    width: max-content;
    padding: 10px 12px;
    font-size: 14px;
    margin-bottom: 30px;
}

.product-badge {
	font-size: 14px;
	font-weight: 600;
}

.date-number {
	font-family: 'poppins',sans-serif;
	font-weight: 600;
	color: black;
	display: block;
	font-size: 22px;
}

.date-text {
	font-family: 'poppins',sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #a6a6a6;
}

.product-price {
	font-size: 18px;
	font-weight: 600;
}

.product-title {
	font-size: 24px;
	font-weight: 600;
}








/* ########################## HEADING ########################## */

.project {
	padding: 0 80px;
	padding-top: 45px;
	overflow-x: hidden;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	margin: 0;
	margin-right: 10px;
	display: inline-block;
}

.header-menu-icon {
	padding: 0;
}

.header-area i {
	font-size: 20px;
	padding-top: 20px;
}

.navbar-expand-lg .navbar-collapse {
	display: block!important;
}

.navbar-expand-lg .navbar-collapse ul li .active {
	border-bottom: 2px solid red;
}

.header-icon {
	padding: 0;
}

.header-icon ul {
	float: right;
}

.header-menu-bar ul li a {
	font-size: 14px;
	text-decoration: none;
	color: black;
	margin-right: 20px;
	font-weight: 600;
	font-family: poppins,sans-serif;
}

.header-menu-bar ul li a:hover {
	border-bottom: 2px solid red;
}

.header-menu-bar .navbar {
	padding-top: 30px;
}

.add-to-cart {
	position: relative;
}

.add-to-cart:after{
	content: "1";
    background: red;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    color: white;
    display: block;
    position: absolute;
    font-size: 10px;
    text-align: center;
    top: 30px;
    left: 10px;
    padding: 2px;
}

.wishlist {
	position: relative;
}

.wishlist:after {
	content: "2";
}


/* ######################### SLIDER ####################### */

.slider	{
	background-image: url(../images/slider-bg.png);
	padding: 55px 0;
}

.slider-content {
	padding-top: 155px;
	padding-right: 200px;
}

.owl-prev {
	float: left;
    font-size: 68px !important;
    color: white !important;
    margin-left: -170px !important;
    margin-top: -30% !important;
}

.owl-prev:hover {
	background: transparent !important;
}

.owl-next {
	float: right;
	font-size: 70px!important;
	color: white !important;
	margin-top: -30% !important;
	margin-right: -170px !important;
}

.owl-next:hover {
	background: transparent !important;
}

.owl-theme .owl-nav {
	margin-top: 0;
}

/* ################################################## */



/* ############################ SHIPING-BOX-AREA ################################### */

.shipping-boxs {
	padding: 95px 34px;
	text-align: center;
}

.shipping-boxs i {
    font-size: 55px;
    padding-bottom: 30px;
}

.box-contant {
    border: 1px solid red;
    padding: 45px 20px 35px;
}

.boxs-area:hover {
	border: 1px solid #eeeeee;
	padding: 20px;
	margin: -21px;
	box-shadow: 1px 1px 20px 5px #eeeeee;
}

/* ############################################################ */


/* ###################################### PRODUCT-DETAILS #################### */

.products {
	height: 348px;
	background-size: cover;
	margin: 10px 0;
	padding-top: 70px;
}

.product-one {
	background-image: url(../images/HomePage-03.png);
}

.product-two {
	background-image: url(../images/01_01_HomePage.png);
}

.product-three {
	background-image: url(../images/HomePage-05.png);	
}

.product-four {
	background-image: url(../images/HomePage-06.png);
}

.product-five {
    background-image: url(../images/HomePage-04.png);
    height: 716px;
    margin-left: 24px;
    margin-top: 10px;
    background-repeat: round;
    padding-top: 70px;
    padding-left: 50px;
}

.products-details {
	margin-bottom: 70px;
}

.product-name {
	font-size: 15px;
	font-weight: 400;
	font-family: 'alata',sans-serif;
	color: #707070;
	margin-bottom: 5px;
}

.features-box {
	background: #ebebeb;
	height: 300px;
	padding: 15px;
	position: relative;
}

.features-box-timer {
	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;
	bottom: 20px;
}

.features-box-price {
	margin-top: 20px;
	margin-bottom: 30px;
}

.features-details {
	text-align: center;
}

.features-boxs .features-icon ul li:hover {
	background: red;
	color: white;
	transition: 1s;
}

/* ############################## FEATURES-PRODUCTS ################################ */

.features-box ul li {
	margin-right: 10px;
}

.features-box-timer .badge {
	float: none;
}

/* ##################################### DEAL OF THE WEEK ############################## */

.deal-left {
	background: #f9eadf;
	padding: 20px;
}

.deal-right {
	background: #e5f8ff;
	padding: 20px;
}

.deal-right img {
	float: right;
	padding-right: 70px;
}


.deal-left img {
	padding-left: 70px;
}

.deal-time {
	justify-content: center;
}

.deal-timer {
	background: white;
    text-align: center;
    height: 500px;
    border-radius: 50%;
    width: 500px;
    margin-top: -540px;
    padding: 65px 0;
}

.deal-timer h4 {
	font-size: 35px;
	padding-top: 15px;
}

.deal-timer ul {
	padding-left: 0;
}

.deal-timer ul li {
	display: inline-block;
    height: 90px;
    width: 90px;
    background: #ededed;
    border-radius: 50%;
    margin: 10px;
	padding: 10px;
}

.deal-timer ul li h2 {
	margin: 0;
	padding-top: 3px;
	font-size: 35px;
}

.deal-timer .shop-btn {
	margin-top: 30px;
}


/* ################################## NEWS ############################## */

.news-area {
	margin-top: 65px;
}

.news-time {
	display: inherit;
	font-size: 13px;
}

.news-content-area {
	background: #e6e6e6;
	padding: 0 10px 10px;
}

.news-content {
	height: 290px;
}

.underline {
	text-decoration: underline;
}

.news-time i {
	color: red;
	padding-top: 3px;
}

.news-time p {
    color: darkgray;
    padding-left: 10px;
}

.news-text {
	background: white;
	padding: 20px 30px;
}

/* ############################## INSTRAGRAM-AREA ########################### */

.instragram-area {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
}

.instragram-content:nth-child(odd){
	background-color: #e6e6e6;
}

.instragram-content:nth-child(even){
	background: #e1e1e1
}

.instragram-content {
	height: 290px;
	position: relative;
}

.instragram-content:hover {
	background: #f68989;
	color: white;
	transition: 1s;
}

.instragram-content i {
	height: 30px;
	font-size: 30px;
    width: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
}

/* ################################################### FOOOTER-AREA ############################## */

.footer-content .badge {
	font-size: 20px;
}

.footer-content {
	margin-bottom: 25px;
}

.footer-content ul li , .footer-content p {
	list-style: none;
	font-size: 14px;
	margin: 0;
	margin-bottom: 20px;
}

.logo {
	margin-bottom: 30px;
}

.right-badge .badge {
	margin-top: -150px;
    margin-right: -25px;
    color: white;
    background: black;
	float: right;
}

.gmail-area {
	padding-top: 50px;
	padding-left: 20px;
}

.gmail-area .badge {
	float: right;
}

/* ############################ COPYRIGHT ########################### */

.copyright {
	padding: 0;
	margin-top: 20px;
}

.copyright p {
	font-size: 14px;
	font-family: alata,sans-serif;
	font-weight: 400;
	margin-bottom: 20px;
}

.copyright img {
	height: 20px;
}

.copyright ul {
	float: right;
}





/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* .shop-sideber {
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 170px;
	padding-right: 170px;
} */

.shop-heading {
	padding: 30px 175px;
	padding-bottom: 20px;
	margin-bottom: 80px;
}

.shop-sideber .header-area i {
	padding-top: 0;
}

.shop-sideber .add-to-cart:after {
    content: "1";
    background: red;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    color: white;
    display: block;
    position: absolute;
    font-size: 10px;
    text-align: center;
    top: 10px;
    left: 8px;
    padding: 2px;
}

.shop-sideber .shop-heading .navbar ul {
	margin-bottom: 0;
}

.shop-sideber .active {
	color: red;
}

.shop-sideber .wishlist:after {
    content: "2";
}

/* HEADER-LEFT */

/* .shop-categories ul li {
	display: block;
	font-weight: 600;
	margin: 10px;
	margin-left: 0;
} */

.shop-left-content ul li {
	font-size: 16px;
}

.shop-left-content span {
	font-size: 16px;
	display: block;
	font-family: poppins,sans-serif;
	font-weight: 300;
}

.size-area ul li {
	padding: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	font-family: poppins,sans-serif;
	font-weight: 300;
}

.shop-product-rating ul li {
	margin: 0;
}

.product-rating {
	margin-bottom: 15px;
}

.product-rating ul {
	margin-bottom: 0;
}

.color-area p i {
	margin-right: 10px;
}

.shop-categories p {
	font-family: poppins,sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.categories p:hover {
	color: red;
}

.header-navbar ul ul {
	display: none;
	position: absolute;
	margin-top: 10px;
}

.navbar {
	padding-top: 0;
}

.navbar-nav p {
	margin-right: 20px;
}

ul ul li {
	display: block;
}

.header-navbar ul li:hover ul {
	display: block;
}

.header-navbar li a {
	color: black;
	font-weight: 600;
	font-size: 16px;
}

.header-navbar li a i {
	margin-left: 10px;
}

.header-navbar ul ul li {
	width: 100px;
	padding: 5px 10px;
	margin-bottom: 5px;
	background: red;
}

.header-navbar ul ul li a {
	color: white;
}

.header-navbar ul ul li:hover {
	background: white;
	border: 1px solid red;
}

.header-navbar ul ul li:hover a {
	color: red;
}

.shop-right-menu-ber {
	text-align: end;
}

.shop-right-menu-ber i {
	margin-right: 10px;
	font-size: 25px;
}

.shop-categories span {
	font-weight: 600;
}

.shop-right-content {
	margin-bottom: 80px;
}

.product-policy {
	padding: 50px 0;
	margin-bottom: 50px;
}

.product-policy i {
	color: red;
	font-size: 22px;
	padding: 20px;
}

.shop-sideber .right-badge .badge {
	margin-right: 50px;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

		/* CHECK-OUT */

input[type=text], input[type=password], input[type=name], input[type=email], input[type=tel], input[type=submit] {
	width: 100%;
	margin-bottom: 25px;
	padding: 10px 20px;
	font-size: 16px;
	font-family: poppins, sans-serif;
	border: 1px solid #f5f5f5;
}

input[type=submit] {
	width: 100%;
	background: red;
	color: white;
	border: none;
	opacity: .6;
}

input[type=checkbox], input[type=radio] {
	margin-right: 10px;
	margin-bottom: 25px;
}

.billing-details i {
	font-size: 5px;
	color: red;
}

.order-details {
	padding: 40px;
	background: #f5f5f5;
}

.order-details .sub-title {
	margin-bottom: 30px;
}

/* .billing-details {
	padding-right: 30px;
} */

.order-details span {
	float: right;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

    /* REGISTER */

.login-area p:hover {
	color: red;
	transition: .5s;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

		/* FORGOT */

.forgot-logo img {
	width: 300px;
	margin-top: 200px;
}